<div>
    <h2 data-translate="smApp.parecerItens.home.title">Parecer Itens</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="parecer-itens.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="smApp.parecerItens.home.createLabel">
                        Create new Parecer Itens
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'smApp.parecerItens.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smApp.parecerItens.tipo">Tipo</span></th>
                    <th><span data-translate="smApp.parecerItens.paritDescricao">Parit Descricao</span></th>
                    <th><span data-translate="smApp.parecerItens.paritSequencia">Parit Sequencia</span></th>
                    <th><span data-translate="smApp.parecerItens.parecerTecnico">Parecer Tecnico</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="parecerItens in vm.parecerItens track by parecerItens.id">
                    <td><a ui-sref="parecer-itens-detail({id:parecerItens.id})">{{parecerItens.id}}</a></td>
                    <td data-translate="{{'smApp.TipoParecerItensEnum.' + parecerItens.tipo}}">{{parecerItens.tipo}}</td>
                    <td>{{parecerItens.paritDescricao}}</td>
                    <td>{{parecerItens.paritSequencia}}</td>
                    <td>
                        <a ui-sref="parecer-tecnico-detail({id:parecerItens.parecerTecnico.id})">{{parecerItens.parecerTecnico.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="parecer-itens-detail({id:parecerItens.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="parecer-itens.edit({id:parecerItens.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="parecer-itens.delete({id:parecerItens.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
