
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequerimentoLabel" data-translate="smApp.requerimento.home.createOrEditLabel">Create or edit a Requerimento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.requerimento.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.requerimento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.requerimento.dtCadastro" for="field_dtCadastro">Dt Cadastro</label>
                <div class="input-group">
                    <input id="field_dtCadastro" type="text" class="form-control" name="dtCadastro" uib-datepicker-popup="{{dateformat}}" ng-model="vm.requerimento.dtCadastro" is-open="vm.datePickerOpenStatus.dtCadastro"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtCadastro')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dtCadastro.$invalid">
                <p class="help-block"
                    ng-show="editForm.dtCadastro.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.requerimento.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.requerimento.status" id="field_status" required>
                <option value="ATIVO" data-translate="smApp.StatusGeralEnum.ATIVO">ATIVO</option>
                <option value="CANCELADO" data-translate="smApp.StatusGeralEnum.CANCELADO">CANCELADO</option>
                <option value="INVALIDO" data-translate="smApp.StatusGeralEnum.INVALIDO">INVALIDO</option>
                <option value="DEFERIDO" data-translate="smApp.StatusGeralEnum.DEFERIDO">DEFERIDO</option>
                <option value="INDEFERIDO" data-translate="smApp.StatusGeralEnum.INDEFERIDO">INDEFERIDO</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.requerimento.fase" for="field_fase">Fase</label>
            <select class="form-control" name="fase" ng-model="vm.requerimento.fase" id="field_fase" required>
                <option value="CADASTRADO" data-translate="smApp.ReqFaseEnum.CADASTRADO">CADASTRADO</option>
                <option value="FORMALIZADO" data-translate="smApp.ReqFaseEnum.FORMALIZADO">FORMALIZADO</option>
                <option value="EQUIPEFORMADA" data-translate="smApp.ReqFaseEnum.EQUIPEFORMADA">EQUIPEFORMADA</option>
                <option value="EMANALISE" data-translate="smApp.ReqFaseEnum.EMANALISE">EMANALISE</option>
                <option value="FINALIZADOLICENCIADO" data-translate="smApp.ReqFaseEnum.FINALIZADOLICENCIADO">FINALIZADOLICENCIADO</option>
                <option value="FINALIZADOINDEFERIDO" data-translate="smApp.ReqFaseEnum.FINALIZADOINDEFERIDO">FINALIZADOINDEFERIDO</option>
            </select>
            <div ng-show="editForm.fase.$invalid">
                <p class="help-block"
                    ng-show="editForm.fase.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.requerimento.obs" for="field_obs">Obs</label>
            <input type="text" class="form-control" name="obs" id="field_obs"
                    ng-model="vm.requerimento.obs"
                     />
        </div>

        <div class="form-group">
            <label data-translate="smApp.requerimento.processo" for="field_processo">Processo</label>
            <select class="form-control" id="field_processo" name="processo" ng-model="vm.requerimento.processo" ng-options="processo as processo.id for processo in vm.processos track by processo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
