
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmpreendimentoLabel" data-translate="smApp.empreendimento.home.createOrEditLabel">Create or edit a Empreendimento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.empreendimento.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.empreendimento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.empreendimento.cnpj" for="field_cnpj">Cnpj</label>
            <input type="text" class="form-control" name="cnpj" id="field_cnpj"
                    ng-model="vm.empreendimento.cnpj"
                    required />
            <div ng-show="editForm.cnpj.$invalid">
                <p class="help-block"
                    ng-show="editForm.cnpj.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.empreendimento.razaoSocial" for="field_razaoSocial">Razao Social</label>
            <input type="text" class="form-control" name="razaoSocial" id="field_razaoSocial"
                    ng-model="vm.empreendimento.razaoSocial"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.empreendimento.x" for="field_x">X</label>
            <input type="number" class="form-control" name="x" id="field_x"
                    ng-model="vm.empreendimento.x"
                    required />
            <div ng-show="editForm.x.$invalid">
                <p class="help-block"
                    ng-show="editForm.x.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.x.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.empreendimento.y" for="field_y">Y</label>
            <input type="number" class="form-control" name="y" id="field_y"
                    ng-model="vm.empreendimento.y"
                    required />
            <div ng-show="editForm.y.$invalid">
                <p class="help-block"
                    ng-show="editForm.y.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.y.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.empreendimento.dtCadastro" for="field_dtCadastro">Dt Cadastro</label>
                <div class="input-group">
                    <input id="field_dtCadastro" type="text" class="form-control" name="dtCadastro" uib-datepicker-popup="{{dateformat}}" ng-model="vm.empreendimento.dtCadastro" is-open="vm.datePickerOpenStatus.dtCadastro"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtCadastro')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dtCadastro.$invalid">
                <p class="help-block"
                    ng-show="editForm.dtCadastro.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smApp.empreendimento.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.empreendimento.status" id="field_status" required>
                <option value="ATIVO" data-translate="smApp.StatusGeralEnum.ATIVO">ATIVO</option>
                <option value="CANCELADO" data-translate="smApp.StatusGeralEnum.CANCELADO">CANCELADO</option>
                <option value="INVALIDO" data-translate="smApp.StatusGeralEnum.INVALIDO">INVALIDO</option>
                <option value="DEFERIDO" data-translate="smApp.StatusGeralEnum.DEFERIDO">DEFERIDO</option>
                <option value="INDEFERIDO" data-translate="smApp.StatusGeralEnum.INDEFERIDO">INDEFERIDO</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="smApp.empreendimento.endereco" for="field_endereco">Endereco</label>
            <select class="form-control" id="field_endereco" name="endereco" ng-model="vm.empreendimento.endereco" ng-options="endereco as endereco.id for endereco in vm.enderecos | orderBy:'id' track by endereco.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="smApp.empreendimento.responsavel" for="field_responsavel">Responsavel</label>
            <select class="form-control" id="field_responsavel" name="responsavel" ng-model="vm.empreendimento.responsavel" ng-options="usuario as usuario.id for usuario in vm.responsavels | orderBy:'id' track by usuario.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="smApp.empreendimento.responsaveis" for="field_responsaveis">Responsaveis</label>
            <select class="form-control" id="field_responsaveis" multiple name="responsaveis" ng-model="vm.empreendimento.responsaveis" ng-options="usuario as usuario.id for usuario in vm.usuarios track by usuario.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
